slices_train.npy
Bach_VAE.ipynb
__pycache__/evaluation.cpython-311.pyc
__pycache__/models.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
models/checkpoint
models/ckpt.data-00000-of-00001
models/ckpt.index
models/1708365158.8630614/.data-00000-of-00001
models/1708365158.8630614/.index
models/1708365158.8630614/checkpoint
training_1/checkpoint
training_1/cp.ckpt.data-00000-of-00001
training_1/cp.ckpt.index
figures
*.pyc
*.npy
*.index
training_1/
